html {
    scroll-behavior: smooth;
  }
  
  body {
    background: linear-gradient(0deg, rgba(18,29,49,1) 0%, #271b29 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  
  .container{
    height: 100vh;
    width: auto;
    display: flex;
  
  }